body {
    font-family: 'Arima', cursive;
    margin: 0;

}

#banner {
    background-image: url(img/donation5.jpg);
    background-image: linear-gradient (to bottom, transparent, #000);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    width: auto;
}

.topspeach {
    color: white;
    text-align: center;
    margin: 35% 45% 35%;
    text-shadow: 2px;
    font-size: xx-large;
    text-shadow: 100px;



}

.linkbutton {
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(45deg, orange, tomato);
    padding: 8px 15px;
    font-weight: 500;
    color: rgb(8, 9, 8);

}

#foot {
    text-align: center;
    background-color: black;
    color: white;
    width: auto;
    height: 190px;
    padding-top: 5px;

}

.donate {
    text-align: center;
    font-size: x-large;
    padding-top: 70px;
}

.amountlist {
    margin-left: 40px;
    padding-left: 10px;
    color: gray;
    height: 90px;
    width: 95px;
    font-weight: 800;
    font-size: large;
    border-radius: 10px;
    border: 10px;

}

#highlight {
    margin-left: 40px;
    padding-left: 10px;
    color: rgb(252, 92, 34);
    height: 90px;
    width: 95px;
    font-weight: 800;
    font-size: large;
    border-radius: 8px;
    border: 3px solid;
    border-color: rgb(252, 92, 34);
    background-color: rgb(248, 234, 236);

}

#input {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    display: block;
    width: 500px;
    display: block;
    border: none;
    text-align: center;
    border-bottom: 1px solid rgb(134, 133, 133);
}

#newbutton {
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(45deg, orange, tomato);
    padding: 10px 25px;
    font-weight: 700;
    color: rgb(8, 9, 8);
    margin-left: 47%;
    margin-top: 1%;
}

#fh1 {
    font-family: cursive;
    color: orangered;
}



.donateplan {
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 60px;
}

#shelter {
    border-radius: 10px;
    height: 300px;
    width: 450px;
    background-image: linear-gradient(45deg, rgb(181, 227, 209), rgb(232, 247, 234));
    text-align: justify;
    text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    margin-left: 80px;
    margin-bottom: 50px;
}

#food {
    border-radius: 10px;
    height: 300px;
    width: 450px;
    background-image: linear-gradient(45deg, rgb(235, 223, 201), rgb(248, 244, 243));
    text-align: justify;
    text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    margin-left: 80px;
    margin-bottom: 50px;
}

#education {
    border-radius: 10px;
    height: 300px;
    width: 450px;
    background-image: linear-gradient(45deg, rgb(246, 242, 166), rgb(247, 252, 224));
    text-align: justify;
    text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    margin-left: 80px;
    margin-bottom: 50px;
}

.sec3 {
    display: flex;
    margin-top: 5%;
    margin-bottom: 10%;
}

.inspiration {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;

}

#img1 {
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 15%;
    height: 340px;
}

.inps1 {
    font-size: 50px;
}

.insp2 {
    font-size: 20px;
}

#contribute {
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(45deg, orange, tomato);
    padding: 8px 15px;
    font-weight: 800;
    color: rgb(8, 9, 8);
    margin-top: 5%;

}

#sec4 {
    display: flex;
    margin-top: 1%;

    margin-bottom: 10%;
}

#img2 {
    width: 40%;
    padding-right: 10%;
    padding-left: 5%;
    border-radius: 15px;
    height: 340px;
}

#myupdate {
    text-align: center;
    font-size: medium
}

#mymail {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 8%;
    margin-bottom: 10%;
    display: block;
    width: 500px;
    text-align: center;
    background-image: linear-gradient(45deg, rgb(251, 234, 215), rgb(247, 252, 224));
    height: 150px;
    width: 650px;
}

#form1 {
    margin-top: 60px;

}

#form2 {
    margin-top: 60px;
    background-color: crimson;
    color: white;

}